<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
    <session-factory>
        <!-- Connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/BrainFartDB</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <!--  <property name="hbm2ddl.auto">update</property>-->
        <!--

               <mapping class="models.User"/>
               <mapping class="models.TestSession"/>
               <mapping class="models.Test"/>
               <mapping class="models.TestAvailability"/>
               <mapping class="models.Subject"/>
               <mapping class="models.Question"/>
               <mapping class="models.QuestionResult"/>
               <mapping class="models.QuestionConnection"/>
               <mapping class="models.AnswerOption"/>
               <mapping class="models.Admin"/>
               <mapping class="models.Role"/>

                                                                     <mapping resource="User.hbm.xml"/>
                                                                     <mapping resource="TestSession.hbm.xml"/>
                                                                     <mapping resource="TestAvailability.hbm.xml"/>
                                                                     <mapping resource="Test.hbm.xml"/>
                                                                     <mapping resource="Subject.hbm.xml"/>
                                                                     <mapping resource="Questions.hbm.xml"/>
                                                                     <mapping resource="QuestionResult.hbm.xml"/>
                                                                     <mapping resource="QuestionConnections.hbm.xml"/>
                                                                     <mapping resource="Admin.hbm.xml"/>
                                                                     <mapping resource="Powers.hbm.xml"/>
                                                                     <mapping resource="AnswerOption.hbm.xml"/>


                                   -->

    </session-factory>

</hibernate-configuration>